@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

body {
  background-color: #1a202c;
  scroll-behavior: smooth;
}

@layer base {
  ul {
    @apply list-disc list-outside;
  }
}

.markdown_ > * {
  @apply text-gray-300 text-xl;
}

.markdown_ p {
  @apply my-6;
}

.markdown_ h1 {
  @apply text-4xl my-2 font-semibold;
}

.markdown_ h2 {
  @apply text-3xl my-2 font-semibold;
}

.markdown_ h3 {
  @apply text-2xl my-2 font-semibold;
}

.markdown_ h4 {
  @apply text-xl my-2 font-semibold;
}

.markdown_ h5 {
  @apply text-lg my-2 font-semibold;
}

.markdown_ h6 {
  @apply text-base my-2 font-semibold;
}

.markdown_ ul {
  @apply text-base list-outside list-disc text-teal-300 ml-16 my-6;
}

.markdown_ li {
  @apply text-xl my-2 font-semibold;
}

.markdown_ p code {
  @apply text-teal-300;
}

.markdown_ p a {
  @apply text-red-300;
}

.markdown_ p a:hover {
  @apply underline;
}

.markdown_ pre {
  @apply my-6 p-4 relative text-base;
}

.markdown_ pre {
  background-color: #2e2f3e;
  font-family: monospace;
  overflow-x: auto;
}

.markdown_ pre code {
  @apply text-teal-300;
}

.markdown_ pre[data-lang]::before {
  @apply absolute text-xs inset-x-0 top-0 block;
}

.markdown_ pre[data-lang]::before {
  content: attr(data-lang);
  tab-size: 2;
}
